html
    head
        title= title
    body
        .container
            header
                h1 Test your video and text tracks

            .subtitles
                h2 Subtitles
                textarea#subtitlesRaw
                p#subtitlesStatus STATUS
                pre#subtitlesCues(hidden)
                ol#subtitlesList


            .video
                video#player(src="" controls crossorigin playsinline)
                    track#subtitles(kind="subtitles" srclang="en" src="" default)
                    track#descriptions(kind="descriptions" srclang="en" src="" default)
                p#reference
                    a(href="https://itunes.apple.com/au/movie/view-from-a-blue-moon/id1041586323" target="_blank") View From A Blue Moon
                .info
                    #currentTime CURRENT TIME
                    output#audioDesc AUDIO DESCRIPTION OUTPUT
            .descriptions
                h2 Descriptions
                textarea#descriptionsRaw
                p#descriptionsStatus STATUS
                pre#descriptionsCues(hidden)
                ol#descriptionsList