html
    head
        title= title
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.css")
    body
        .container
            header
                h1 Video AD
                p Testing Audio Descriptions

            section.subtitles
                h2 Subtitles
                textarea#subtitlesRaw
                .download
                    input#subtitlesFilename(type="text" placeholder="subtitles" value="subtitles")
                    span .vtt
                    button#subtitlesDownload Download
               
            section.video
                video#video(src="" controls crossorigin playsinline)
                    track#subtitles(kind="subtitles" srclang="en" src="" default)
                    track#descriptions(kind="descriptions" srclang="en" src="" default)

                p#reference
                    a(href="https://itunes.apple.com/au/movie/view-from-a-blue-moon/id1041586323" target="_blank") View From A Blue Moon

                .info
                    div
                        label(for="audioToggle") text to speech
                        input#audioToggle(type="checkbox" checked)
                        #currentTime
                    output#audioDesc

            section.descriptions
                h2 Descriptions
                textarea#descriptionsRaw
                .download
                    input#descriptionsFilename(type="text" placeholder="descriptions" value="descriptions")
                    span .AD.vtt
                    button#descriptionsDownload Download